.button-three{
    padding: 15px 20px;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: transparent;
    transition: all 0.6s ease;
}
.button-three::before{
    content: '';
    position: absolute;
    top: 0;
    left: -300px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.button-three:hover{
    color: white;
}
.button-three:hover::before{
    left: 0px;
}