
.button-seven{
    padding: 15px 20px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    transform: scale(1);
    transition: all 0.3s ease;
    
}
.button-seven:hover{
    transform: scale(0.8);
    
}



